.detail-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.tw-detail-header {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.tw-detail-header h2 {
  margin: 0px 25px;
}

.tw-detail-comment-section {
  width: 100%;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: scroll;
}

.tw-detail-go-back-button {
  background: none;
  color: #fff;
  border: none;
  font-size: 22px;
  margin-left: 20px;
}

.tw-detail-comments-box {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}
